# Ignoring everything
*

# Add each folder or file path that should be whitelisted.
!.gitignore

!tmux/tmux.conf

!ncmpcpp/bindings

!rstudio/rstudio-prefs.json

!i3/config
!rofi/dracula.rasi
!polybar/**

!nvim/**
